<%- include("partials/header.ejs") %>


<div class="form-container">
      <form class="form" action="/submit" method="POST">
        <div class="form-group">
          <label for="textarea">Add your heading</label>
          <input type="text" id="email" name="heading" required="">
        </div>
        <div class="form-group">
          <label for="textarea">Add your text</label>
          <textarea name="textarea" id="textarea" rows="10" cols="50" required="">          </textarea>
        </div>
        <button class="form-submit-btn" type="submit">Submit</button>
      </form>
    </div>


<%- include("partials/footer.ejs") %>
