<%- include("partials/header.ejs") %>
<body>
  <div class="container">
<h1 class="articles-heading">Articles</h1>
<a href="/create-post" class="no-underline"><button class="create-post">
  Create a new post +
</button></a>
<div class="container">
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col" id="number1">
    <a href="/fit1" class="anchor">
    <div class="card">

      <img src="/images/fit1.jpg" class="card-img-top" alt="..." >
      <div class="card-body">
        <h5 class="card-title">Triceps exercises</h5>
        <p class="card-text">Pushdowns and dips are top choices for triceps growth.</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col" id="number2">
    <a href="/fit2" class="anchor">
    <div class="card">
      <img src="/images/fit2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Deadlift variations</h5>
        <p class="card-text">Deadlift variations include sumo, trap bar, and deficit.</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col" id="number3">
    <a href="/fit3" class="anchor">
    <div class="card">
      <img src="/images/fit3.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Boxing for fat loss</h5>
        <p class="card-text">Boxing burns calories fast and improves overall stamina.</p>
      </div>
    </div>
    </a>
  </div>
  <div class="col" id="number4">
    <a href="/fit4" class="anchor">
    <div class="card">
      <img src="/images/fit4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Best exercises for bulging biceps</h5>
        <p class="card-text">Biceps curls and chin-ups build size and definition.</p>
      </div>
    </div>
    </a>
  </div>
  <% if(locals.cards) { %>
    <% cards.forEach((card, index) => { %> 
  <div class="col">
    <a href="/fit4" class="anchor">
    <div class="card">
      <img src="/images/fit4.jpg" class="card-img-top" alt="..."> 
      <div class="card-body">
        <h5 class="card-title"><%=card.heading%></h5>
        <p class="card-text"><%=card.textarea%></p>

        <form action="/delete-post/index" method="POST">
            <button type="submit" class="btn btn-danger delete-button">Delete post</button>
        </form>
      </div>
    </div>
    </a>
  </div>
  <% }); %>
  <% } %>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
<%- include("partials/footer.ejs") %>
